<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @answer.text %>
</p>

<p>
  <strong>Question:</strong>
  <%= @answer.question.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @answer.user.name %>
</p>

<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
